.btn {
	outline: 0;
	border: 0;
	padding: 0 1.25rem;
	height: 2.125rem;	
	cursor: pointer;
	background-color: transparent;
}
.btn-dark-blue {
	background-color: $dark-blue;
	color: rgba(255,255,255,0.7);	
}