* {
	box-sizing: border-box;
}

body {
	font-family: $open-sans;
	font-size: $base-font-size;
	color: #777;
}

h1,h2,h3,h4 {
	display: inline;
}

a {
	text-decoration: none;
	.nav & {
		display: block;
	}
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.hz-list {
	display: flex;
	&>li {
		flex-direction: row;
	}
}

.group:after {
	display: block;
	content: '';
	visibility: hidden;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

.divider {
	height: 1px;
	overflow: hidden;
	margin: 8px 0;
	background-color: $light-grey;
}

.dropdown {
	position: relative;
	.dropdown-menu {
		display: none;
		padding: 5px 0;
		position: absolute;
		min-width: 150px;
		background-color: white;
		&>li {
			white-space: nowrap;
			&>a {
				padding: 5px 20px;
			}
		}
		.right & {
			right: 0;
		}
	}
}

.treeview {
	.treeview-menu {
		max-height: 0;
		overflow: hidden;
		transition: all 1s;
		&>li>a {
			padding-left: 30px;
		}
	}
	&:hover .treeview-menu {
		max-height: 100vh;
	}
}

#wrapper {
	position: relative;
}

.login-box {
	width: 360px;
	margin: 0 auto;
}