// Colors
// ============================================
$gray-base: #000;
$blue-base: blue;

// Components
// ============================================ 
$header-height: 60px;

$sidebar-width: 200px;