doctype html
html
	head
		include pug/templates/head.pug
	body
		#wrapper.group
			include pug/templates/header.pug
			include pug/templates/sidebar.pug
			#page-content
				h1 Dashboard
		include pug/templates/scripts.pug