#main-header {
	background: $white;
	width: 100%;
	height: $header-height;
	border-bottom: 1px solid $light-grey;
	#logo {
		display: inline-block;
		height: $header-height;
		width: $sidebar-width;
		float: left;
		margin-left: -220px;
		@include media('>desktop') {
			margin-left: 0;
		}
	}
	#main-nav {
		line-height: $header-height;
		&>.sidebar-toggle {
			padding: 0;
			height: $header-height;
			width: 50px;
			text-align: center;
		}
		& .dropdown-menu {
			line-height: normal;
		}
		&>.nav>li {
			height: $header-height;
			border-left: 1px solid $light-grey;
			&.elastic-search {
				border-left: none;
				position: relative;
				padding-right: 10px;
				& input[type="text"] {
					display: none;
				}
				&:hover {
					input[type="text"] {
						transition: all 0.4s;						
					}
					.btn-submit {
						opacity: 0.2;
					}
				}
				& .btn-submit {
					position: absolute;
					right: 0;
					top: 0;
					height: $header-height;
					width: 50px;
					padding: 0;			
				}
			}
			&.notifications>a, &.elastic-search>a {
				width: 50px;
				padding: 0;
				text-align: center;
			}
			&.user-menu>a>span {
				display: none;
			}
			&>a {
				padding: 0 20px;
			}
		}
	}	
}