extends templates/layout

block head
	link(rel="stylesheet",href="css/font-awesome.min.css")
	link(rel="stylesheet",href="css/main.css")

block content
	section.content-header
		h1 Dashboard
	section.content-body
