header#main-header.group
	#logo
	#main-nav.group
		button.btn.sidebar-toggle
			i.fa.fa-bars
		ul.nav.hz-list.right
			li.elastic-search.group
				form
					input(type="text",name="elastic-search",placeholder="Search").form
					button(type="submit").btn.btn-submit
						i.fa.fa-search
			li.dropdown.notifications
				a(href="#")
					i.fa.fa-bell
				ul.dropdown-menu
					li Lorem ipsum
					li Ipsum
					li 
						a(href="#") All notifications
			li.dropdown.user-menu
				a(href="#") 
					i.fa.fa-user-circle
					span Username
				ul.dropdown-menu
					li
						a(href="#") Profile
					li
						a(href="#") Settings
					li.divider
					li
						a(href="#") Logout