#main-sidebar
	ul.nav
		li
			a(href="../index.html").group
				i.fa.fa-dashboard 
				span Dashboard				
		li.treeview
			a(href="#").group
				i.fa.fa-laptop
				span UI Elements
				span.caret.right
					i.fa.fa-angle-right
			ul.treeview-menu
				li
					a(href="../pages/ui-elements-general.html") General
				li
					a(href="../pages/ui-elements-icons.html") Icons
				li
					a(href="../pages/ui-elements-buttons.html") Buttons
				li
					a(href="../pages/ui-elements-typography.html") Typography
		li.treeview
			a(href="#").group
				i.fa.fa-edit
				span Forms
				span.caret.right
					i.fa.fa-angle-right
			ul.treeview-menu
				li
					a(href="../pages/forms-basic.html") Basic
				li
					a(href="../pages/forms-advanced.html") Advanced
				li
					a(href="../pages/forms-wizard.html") Wizard
		li.treeview
			a(href="../pages/widgets.html").group
				i.fa.fa-th
				span Widgets				
		li.treeview
			a(href="../pages/tables.html").group
				i.fa.fa-table
				span Tables
		li.treeview
			a(href="../pages/charts.html").group
				i.fa.fa-pie-chart
				span Charts
		li.treeview
			a(href="#").group
				i.fa.fa-file
				span Examples
				span.caret.right
					i.fa.fa-angle-right
			ul.treeview-menu
				li
					a(href="../pages/examples-login.html") Login
				li
					a(href="../pages/examples-register.html") Register
				li
					a(href="../pages/examples-404.html") 404
				li
					a(href="../pages/examples-invoices.html") Invoices
				li
					a(href="../pages/examples-profile.html") Profile
				li
					a(href="../pages/examples-gallery.html") Gallery