#main-sidebar
	ul.nav
		li
			a(href="#").group
				i.fa.fa-dashboard 
				| Dashboard				
		li.treeview
			a(href="#").group
				i.fa.fa-laptop
				| UI Elements
				span.caret.right
					i.fa.fa-angle-right
			ul.treeview-menu
				li
					a(href="#") General
				li
					a(href="#") Icons
				li
					a(href="#") Buttons
				li
					a(href="#") Typography
		li.treeview
			a(href="#").group
				i.fa.fa-edit
				| Forms
				span.caret.right
					i.fa.fa-angle-right
			ul.treeview-menu
				li
					a(href="#") Basic
				li
					a(href="#") Advanced
				li
					a(href="#") Wizard
		li.treeview
			a(href="#").group
				i.fa.fa-th
				| Widgets				
		li.treeview
			a(href="#").group
				i.fa.fa-table
				| Tables
		li.treeview
			a(href="#").group
				i.fa.fa-pie-chart
				| Charts
		li.treeview
			a(href="#").group
				i.fa.fa-file
				| Pages
				span.caret.right
					i.fa.fa-angle-right
			ul.treeview-menu
				li
					a(href="#") Login
				li
					a(href="#") Register
				li
					a(href="#") 404
				li
					a(href="#") Invoices
				li
					a(href="#") Profile
				li
					a(href="#") Gallery	